{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>MeetGO</title>

    <!-- Bootstrap core CSS -->
    <link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
    <link href=" {% static 'assets/css/socialbutton.css' %} " rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-edu-meeting.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css'%}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
<body class="bg-light">

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p><em>Join a group to meet people</em> make friends, find support, grow a business, and explore your interests.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a style="text-transform:none;" href="/" class="logo">
                          MeetGO
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="/">Home</a></li>
                          <li><a href="/#contact">Contact Us</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section style="background-image: url({% static 'assets/images/create_bg.jpeg' %});" class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Wellcome to MeetGO </h6>
          <h2 style="text-transform:none; " >Easily create and manage events!</h2>
        </div>
      </div>
    </div>
  </section>

<section style="color:white; padding:0px;" class="meetings-page"  id="meetings">
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Create Event</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Amount to be paid</span>
          <span class="badge bg-primary rounded-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Create Event</h6>
            </div>
            <span class="text-muted">-$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Support</h6>
            </div>
            <span class="text-muted">-$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Other Services</h6>
            </div>
            <span class="text-muted">-$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">−$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$0</strong>
          </li>
        </ul>

      <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code" disabled>
          <button disabled type="submit" class="btn btn-secondary">Redeem</button>
      </div>

      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Personel Information</h4>
        <form class="needs-validation" action="/create/" method="post" enctype="multipart/form-data">{% csrf_token %}
          {% if success %}
          <div class="alert alert-success" role="alert">
            The event was created successfully.
          </div>
          {% endif %}

          {% if error %}
          <div class="alert alert-warning" role="alert">
            Please fill out the form completely.
          </div>
          {% endif %}

          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" value="{{request.user.first_name}}" disabled>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" value="{{request.user.last_name}}" disabled>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-muted"></span></label>
              <input type="email" class="form-control" value="{{request.user.email}}" disabled>
            </div>

            <div class="col-sm-12">
              <label for="firstName" class="form-label">Event Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>

            <div class="col-sm-12">
              <label for="firstName" class="form-label">Event Description</label>
              <textarea type="text" class="form-control" id="description" name="description" rows="5"></textarea>
            </div>

            <div class="col-md-12">
              <label for="event_type" class="form-label">Event Type</label>
              <select class="form-select" id="event_type" name="event_type" required>
                <option value="">Choose...</option>
                <option>Online</option>
                <option>Physically</option>
                <option>Online+Physically</option>
              </select>
            </div>


            <div class="col-md-12">
              <label for="category" class="form-label">Category</label>
              <select class="form-select" id="category" name="category" required>
                <option value="">Choose...</option>
                {% for obj in category_list  %}
                <option>{{obj.title}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" name="address" required>
            </div>

            <div class="col-12">
                  <div class="form-group">
                      <label for="website">Upload Background</label>
                      <input type="file" class="form-control" id="file" name="file">
                  </div>
            </div>
          
            <div class="col-12">
              <label for="address" class="form-label">Keywords(Please separate with comma(,))</label>
              <input type="text" class="form-control" id="keywords" name="keywords" required>
            </div>

            <div class="col-4">
              <label for="address" class="form-label">Date & Time</label>
              <input type="datetime-local" class="form-control" id="date" name="date" required>
            </div>

          <hr class="my-4">
          <h4 class="mb-3">Map</h4>
        	<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Create Event</button>
        </form>
      </div>
    </div>
  </main>
</div>
    <div class="footer">
    <p>Copyright © 2022 MeetGO Co.Ltd. All Rights Reserved. 
    </div>
</section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/tabs.js' %}"></script>
    <script src="{% static 'assets/js/video.js' %}"></script>
    <script src="{% static 'assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>
